# Porta onde o backend vai rodar
PORT=3000

# Configuração do Banco de Dados (SQLite)
# O arquivo dev.db será criado automaticamente na pasta prisma
DATABASE_URL="file:./dev.db"

# Segredo para gerar o Token JWT (Autenticação)
# Digite qualquer frase aleatória aqui
JWT_SECRET="1234"